#volver-button {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#volver-button i {
    margin-right: 10px;
}

#volver-button:hover {
    background-color: #0056b3;
}
.operaciones-list{
    width: 60%;
    height: 30px;
}
.operacion-item{
    width: 100%;
    background-color: #0056b3;
}

.product-form{
    width: 60%;
}
#tipoTransaccion{
    padding: 1.1em;
    font-size: 1.1em;
}